This project requires certain modules to be to installed inorder to work functionally. 

1 - Beautiful soup 
Installation using PIP: pip install bs4 
https://pypi.org/project/beautifulsoup4/

2 - Requests 
Installation using PIP: pip install requests 

3 - eyed3
Installation using PIP: pip install eyed3
